@font-face {
    font-family: 'butlerBold';
    src:
        url('./assets/fonts/butler-free-bd-webfont.woff2') format('woff2'),
        url('./assets/fonts/butler-free-bd-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'butlerLight';
    src:
        url('./assets/fonts/butler-free-lgt-webfont.woff2') format('woff2'),
        url('./assets/fonts/butler-free-lgt-webfont.woff') format('woff');
    font-style: normal;
}

:root {
    --font-heading: 'butlerBold', 'Times New Roman', Times, serif;
    --font-subheading: 'butlerLight', 'Times New Roman', Times, serif;
    --font-text: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-background: #004643;
    --text-color: #5f5e5e;
}

body {
    font-family: var(--font-text);
    text-align: center;
    margin: 0;
}

p {
    text-align: left;
    line-height: 1.5;
    font-size: 1.25rem;
    color: var(--text-color);
    max-width: 65ch;
}

.diagonal-background {
    position: absolute;
    top: -1rem;

    background-color: #004643;
    width: 100%;
    height: 45vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    transform: skewY(-25deg);
    transform-origin: top left;
}

.portrait {
    position: relative;
    margin-top: 1.5rem;
}

.portrait-image img {
    width: 80vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.portrait .name {
    position: absolute;
    bottom: -8vw;
    left: 10vw;
    font-family: var(--font-heading);
    font-size: clamp(3rem, 15vw, 5rem);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.56);
}

.about-me {
    margin: 1.5rem;
}

.about-me h2 {
    font-family: var(--font-subheading);
    font-size: 3rem;
    margin: 2rem 0 1rem 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-icons img {
    width: 2.25rem;
}