@font-face {
    font-family: 'butlerBold';
    src:
        url('./assets/fonts/butler-free-bd-webfont.woff2') format('woff2'),
        url('./assets/fonts/butler-free-bd-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'butlerLight';
    src:
        url('./assets/fonts/butler-free-lgt-webfont.woff2') format('woff2'),
        url('./assets/fonts/butler-free-lgt-webfont.woff') format('woff');
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-heading: 'butlerBold', 'Times New Roman', Times, serif;
    --font-subheading: 'butlerLight', 'Times New Roman', Times, serif;
    --font-text: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-background: #004643;
    --text-color: #5f5e5e;
    --icon-size: 2.25rem;
    --project-icon-size: 1.75rem;
}

body {
    font-family: var(--font-text);
    text-align: center;
    margin: 0;
}

h2 {
    font-family: var(--font-subheading);
    font-size: 3rem;
    margin: 2rem 0 1rem 0;
}

p {
    text-align: left;
    line-height: 1.5;
    font-size: 1.25rem;
    color: var(--text-color);
    max-width: 65ch;
    margin: 0;
}

/* header section */

.diagonal-background {
    position: absolute;
    top: -1rem;

    background-color: #004643;
    width: 100%;
    height: clamp(20rem, 45vh, 35rem);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    transform: skewY(-25deg);
    transform-origin: top left;
    z-index: -1;
}

.portrait {
    position: relative;
    margin-top: 1.5rem;
}

.portrait-image img {
    width: 80vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.portrait .name {
    position: absolute;
    bottom: -8vw;
    left: 10vw;
    font-family: var(--font-heading);
    font-size: clamp(3rem, 15vw, 5rem);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.56);
}

main,
.about-me {
    margin: 1.5rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0 5rem 0;
}

.social-icons img {
    width: var(--icon-size);
}

/* main section */

.projects-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    margin: 1.5rem 0 8rem 0;
}

.project-cell {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.project-screenshot {
    max-width: 100%;
}

.project-information {
    margin: 1rem;
    height: 30vh;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.project-name {
    font-family: var(--font-subheading);
    font-size: 2rem;
    margin: 0;
}

.project-links {
    position: relative;
    top: 0.25rem;
    display: flex;
    align-items: center;
}

.project-github-link {
    margin-right: 1rem;
}

.project-img-icon {
    width: var(--project-icon-size);
}

.project-span-icon {
    font-size: calc(var(--project-icon-size) + 0.2rem);
    margin-top: 0.1rem;
    color: #000;
}

/* footer section */

footer,
footer p {
    color: #fff;
}

footer {
    background-color: var(--main-background);
}

.contact-information {
    margin: 1.5rem;
}

.contact-information div {
    font-weight: 300;
    margin-top: 2.5rem;
}

footer h2 {
    padding-top: 2.5rem;
}

.contacts p {
    display: flex;
    align-items: center;
}

.contacts .material-symbols-outlined {
    margin-right: 1rem;
    display: none;
}

footer .social-icons {
    margin-top: 1.75rem;
    margin-bottom: 3rem;
}

.footer-image img {
    max-width: 100%;
    display: block;
}

@media (min-width: 650px) {
    /* header section */

    .diagonal-background {
        height: clamp(30rem, 50vh, 35rem);;
        transform: skewY(-15deg);
    }

    .portrait .name {
        text-wrap: nowrap;
    }

    /* main section */

    .project-name {
        font-size: clamp(1.6rem, 3.5vw, 2rem);
    }

    /* footer section */

    footer {
        display: flex;
        align-items: center;
        text-align: left;
        padding: 2rem 2rem 0 2rem;
    }

    footer h2 {
        padding: 0;
        margin-top: 0;
    }

    .contact-information {
        width: clamp(350px, 50%, 450px);
        margin-bottom: 0;
        margin-left: 0;
    }

    .contacts p:first-child {
        margin-bottom: 0.5rem;
    }

    .contacts .material-symbols-outlined {
        display: block;
    }

    footer .social-icons {
        justify-content: start;
        margin-bottom: 3.5rem;
    }

    .footer-image img {
        max-height: 28rem;
    }
}

@media (min-width: 650px) and (max-width: 1080px) {
    .main-header {
        max-width: clamp(600px, 90vw, 1000px);
        margin: 0 auto;
    }

    .portrait {
        margin: 0;
    }

    .portrait-image img {
        position: relative;
        left: -1.5rem;
        float: left;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        width: clamp(300px, 40vw, 500px);
        margin: 4rem 0 0 2rem;
        z-index: 10;
    }

    .portrait .name {
        position: relative;
        top: 5rem;
        left: clamp(-8.5rem, -13vw, -4.5rem);
        margin: 0;
        z-index: 999;
    }

    .about-me {
        position: relative;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: clamp(500px, 80%, 800px);
        padding: 1rem 2rem 5rem 2rem;
        margin: 5rem auto;
    }

    .about-me p {
        max-width: 100%;
    }

    .main-header .social-icons {
        display: none;
    }

    .footer-image {
        margin-left: auto;
    }
}

@media (min-width: 760px) {
    .main-header {
        margin: 0 5rem;
    }

    .portrait-image img {
        margin: 3rem 0 0 -1rem;
    }

    .about-me {
        width: 100%;
    }

    main {
        margin: 1.5rem 5rem;
        text-align: left;
    }

    footer {
        padding: 2rem 5rem;
    }
}

@media (min-width: 1080px) {
    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 5rem clamp(2rem, 5vw, 10rem);
    }

    .portrait {
        margin: 0;
    }

    .portrait-image img {
        object-fit: cover;
        object-position: 20% top;
        width: clamp(375px, 30vw, 1000px);
        height: 35rem;
        margin: 0;
    }

    .portrait .name {
        bottom: 0;
        left: 0.5rem;
        margin: 0;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        max-width: 800px;
        padding: 0 clamp(1.5rem, 3vw, 2.5rem);
        margin: 0;
    }

    .main-header .social-icons {
        justify-content: end;
        margin-bottom: 2rem;
        margin-right: 1.5rem;
    }

    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        padding: 2rem 5rem;
    }
}

@media (min-width: 1330px) {
    .contact-information {
        width: 800px;
    }

    .footer-image {
        width: 100%;
    }

    .footer-image img {
        object-fit: cover;
        object-position: 50% 20%;
        border-radius: 15px;
        width: 100%;
        max-height: 29rem;
    }
}

@media (min-width: 1550px) {
    .portrait .name {
        left: clamp(0.7rem, 4vw, 7rem);
    }
}